.gitignore
/Backend/dist
/Backend/node_modules
/Backend/.env

/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
.env.production.local